*.o
*.elf
*.img
*.sw[a-p]
*~
*.cmd
*.order
*.rpt
*.map
*.ko
*.mod.c
*.rbf
*.symvers
*.bsf
*.cmp
*.objdump
*.orig
.tmp_versions
.dir-locals.el
GPATH
GTAGS
GRTAGS
tags
TAGS
cscope.files
cscope.out

hdl/quartus/work/*
hdl/quartus/hostedx*
hdl/quartus/atsc_txx*
hdl/quartus/fsk_bridgex*
hdl/quartus/qpsk_txx*

fx3_firmware/make/toolchain.mk
fx3_firmware/build/*

build/*

host/build/*

host/examples/gnuradio/frs/bladeRF_frs.py

host/libraries/libbladeRF/doc/doxygen/html
host/libraries/libbladeRF/doc/doxygen/Doxyfile
host/libraries/libbladeRF/lib
host/libraries/libbladeRF/bin

host/misc/windows/scripts/bladeRF-env.bat
host/misc/windows/scripts/work

**/.qsys_edit

**/modelsim/transcript
**/modelsim/*.wlf
**/modelsim/work/
**/modelsim/nuand/

hdl/fpga/platforms/common/bladerf/software/bladeRF_nios_bsp
hdl/quartus/log.txt
hdl/quartus/build.log
hdl/fpga/platforms/bladerf-micro/modelsim/rtl_work/
hdl/fpga/platforms/bladerf-micro/modelsim/rtl_work/_info
hdl/fpga/platforms/bladerf-micro/modelsim/rtl_work/_lib.qdb
hdl/fpga/platforms/bladerf-micro/modelsim/rtl_work/_lib1_0.qdb
hdl/fpga/platforms/bladerf-micro/modelsim/rtl_work/_lib1_0.qpg
hdl/fpga/platforms/bladerf-micro/modelsim/rtl_work/_lib1_0.qtl
hdl/fpga/platforms/bladerf-micro/modelsim/rtl_work/_vmake
hdl/fpga/platforms/bladerf-micro/modelsim/*.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d434_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d435_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d436_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d437_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d440_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d441_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d442_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d445_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d446_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d434_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d435_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d436_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d437_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d440_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d441_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d442_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d445_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d446_lnTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000848_expTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000852_expTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000855_expTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000858_expTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001848_expTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001852_expTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001855_expTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001858_expTables_lutmem.hex
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/_info
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/dfr_internal_inst/_info
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/dfr_internal_inst/_lib.qdb
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/dfr_internal_inst/_lib1_2.qdb
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/dfr_internal_inst/_lib1_2.qpg
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/dfr_internal_inst/_lib1_2.qtl
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/dfr_internal_inst/_vmake
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/work/_info
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/work/_lib.qdb
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/work/_lib1_0.qdb
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/work/_lib1_0.qpg
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/work/_lib1_0.qtl
hdl/fpga/platforms/bladerf-micro/modelsim/libraries/work/_vmake

_*